body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: #FEFEFE;
  background-color: #020202;
}

section {
  text-align: center;
  padding: 50px 0 50px;
}

.heading {
  font-family: 'Roboto', sans-serif;
  padding: 30px;
}

.home-hero {
  font-family: 'Playfair Display Bold', serif;
  font-size: 3rem;
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
}

.intro, .footer, .logos {
  background-color: rgba(77, 75, 75, 0.1);
}

.intro-text {
  padding: 20px;
}

/*.skills-text{
    float: right;
}*/
.h3 {
  display: inline;
}

.skills-uil {
  font-size: 50px;
  color: #3E3E3E;
}

.bgpink {
  width: 100px;
  height: 100px;
  border-radius: 0 5% 0;
  border: 1px solid #FEFEFE;
  background-color: #FFD8D8;
  margin: auto;
}

.skills-text {
  padding: 50px 0 50px;
}

.logo-1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

.logo-2 {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
}

.logo-3 {
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
}

.logo-4 {
  font-family: 'Syne Tactile', cursive;
  font-size: 4rem;
}

.logo-uil {
  font-size: 30px;
  color: #FFD8D8;
}

.contact-text {
  padding: 50px;
}

.footer {
  padding: 50px;
}
